{% extends "base.html" %}

{% block content %}
    <div class= 'transaction-sidebar'>
    {% include 'navs_and_footers/transactions_nav.html' %}
    <div class= 'form-div'>
    <h2>Add Custom Tag</h2>
    <form action="/add_custom_tag" method="post">
        <div>
            <label for="tag-name">Tag Name</label>
            <input type="text" name="tag_name" id="tag-name" placeholder="Tag Name" required autofocus>
            <label for="adult-rating">Adult Rating?</label>
            <input type="checkbox" id="adult_rating" name="adult_rating">
            <button class="button" type="submit">Add Tag</button>
        </div>
    </form>
</div>
</div>
{% endblock %}