{% extends "base.html" %}

{% block content %}
<div class='container'>
    <div class='box' id="left">
        {% include 'navs_and_footers/transactions_nav.html' %}
    </div>
    <div class='box'>
        <div class='body-of-layout'>
            <h2>My Tags</h2>
            <div>
                <img src="{{ url_for('static', filename='my_tags_image.jpeg') }}" alt="tags-image" id="tags-image">
            </div>
            <table id='difficult-table'>
                <tr>
                    <th>Tag Name</th>
                    <th>Adult Rating</th>
                    <th>Add Tag</th>
                    <th>Delete Tag</th>
                </tr>
                {% for tag in tags %}
                <tr>
                    <td>{{tag.tag_name}}</td>
                    <td>{{tag.adult_rating}}</td>
                    <td>
                        <form action="/tag/{{tag.id}}/update">  
                            <button type="submit">Edit</button>
                        </form> 
                    </td>
                    <td>
                        <form action="/tag/{{tag.id}}/delete" method='post'>
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class='box'>
        
    </div>
</div>
{% endblock %}