{% extends "base.html" %}

{% block content %}
<!-- {% include 'navs_and_footers/transactions_nav.html' %}
{% include 'navs_and_footers/add_transaction_nav.html' %} -->
<h2>My Tags</h2>
<table>
    <tr>
        <th>Tag Name</th>
        <th>Adult Rating</th>
        <th>Add Tag</th>
        <th>Delete Tag</th>
    </tr>
    {% for tag in tags %}
    <tr>
        <td>{{tag.tag_name}}</td>
        <td>{{tag.adult_rating}}</td>
        <td>
            <form action="/tag/{{tag.id}}/update">  
                <button type="submit">Edit</button>
            </form> 
        </td>
        <td>
            <form action="/tag/{{tag.id}}/delete" method='post'>
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
<p><a href="/add_custom_tag">Add Custom Tag</a></p>
<!-- {% include 'navs_and_footers/add_transaction_footer.html' %} -->
{% endblock %}