{% extends "base.html" %}

{% block content %}
<div class='container'>
    <div class='box' id="left">
        {% include 'navs_and_footers/transactions_nav.html' %}
    </div>
    <div class= 'box'>
        <div class='body-of-layout'>
            <h2>Edit Your Details</h2>
            <form action="/edit_account_details/{{user.id}}" method='post' autocomplete="off">
                <label for="first-name">First Name</label><br>
                <input type="text" name="first_name" placeholder="{{user.first_name}}" required autofocus class='difficult-form-inputs'><br>
                <label for="Surname">Surname</label><br>
                <input type="text" name="surname" placeholder="{{user.surname}}" required class='difficult-form-inputs'><br>
                <label for="Age">Age</label><br>
                <input type="number" name="age" placeholder="{{user.age}}" required class='difficult-form-inputs'><br>
                <label for="Budget">Budget</label><br>
                <input type="number" name="budget" placeholder="{{user.budget}}" required class='difficult-form-inputs'><br>
                <div id = 'difficult-form-input-accounts'>
                    <label for="Dark-Mode">Dark Mode</label>
                    <input type="checkbox" name="dark_mode" id='checkbox'>
                </div>
                <button class="button" type="submit">Update Details</button>
            </form>
        </div>
    </div>
    <div class="box">

    </div>
</div>

{% endblock %}
