{% extends "base.html" %}

{% block content %}
<div class='transaction-sidebar'>
    {% include 'navs_and_footers/transactions_nav.html' %}
    <div class= 'form-div'>
        <h1>Edit Account Details</h1>

        <form action="/edit_account_details/{{user.id}}" method='post'>
            <label for="first-name">First Name</label><br>
            <input type="text" name="first_name" id="first-name" placeholder="{{user.first_name}}" required autofocus><br>
            <label for="Surname">Surname</label><br>
            <input type="text" name="surname" id="surname" placeholder="{{user.surname}}" required><br>
            <label for="Age">Age</label><br>
            <input type="number" name="age" id="age" placeholder="{{user.age}}" required><br>
            <label for="Budget">Budget</label><br>
            <input type="number" name="budget" id="budget" placeholder="{{user.budget}}" required><br>
            <label for="Dark-Mode">Dark Mode</label><br>
            <input type="checkbox" id="dark-mode" name="dark_mode"><br>
            <button class="button" type="submit">Update Details</button>
        </form>
    </div>
</div>

{% endblock %}
