{% extends "base.html" %}

{% block content %}
<div class='container'>
    <div class='box' id="left">
        {% include 'navs_and_footers/transactions_nav.html' %}
    </div>   
    <div class='box'>
        <div class='body-of-layout'>
            <h2>Help and Support</h2>
            <img src="{{ url_for('static', filename='my_support_image.jpeg') }}" alt="my-support-image" id='my-support-image'>
            <h3>Because sometimes we can all get a bit out of hand with our spending</h3>
            <table id='difficult-table'>
                <tr>
                    <th>Support Name</th>
                    <th>Support Description</th>
                    <th>Support Website</th>
                </tr>
                <tr>
                    <td>Step Change</td>
                    <td>Debt Support</td>
                    <td>https://www.stepchange.org/</td>
                </tr>
                <tr>
                    <td>Citizens Advice</td>
                    <td>Life Support</td>
                    <td>https://www.citizensadvice.org.uk/</td>
                </tr>
                <tr>
                    <td>Gamcare</td>
                    <td>Gambling Support</td>
                    <td>https://www.gamcare.org.uk/</td>
                </tr>
                <tr>
                    <td>Release</td>
                    <td>Subtance Abuse Support</td>
                    <td>https://www.release.org.uk/</td>
                </tr>
                <tr>
                    <td>Breathing Space</td>
                    <td>Mental Health Support</td>
                    <td>https://breathingspace.scot/</td>
                </tr>
            </table>
        </div>
    </div>
    <div class='box'>

    </div>
</div>

{% endblock %}