{% extends "base.html" %}

{% block content %}
    {% include 'transactions/transactions_nav.html' %}
    {% include 'transactions/add_transaction_nav.html' %}
    <p>My Tags</p>
    <hr>
    {% for tag in tags %}
    <p>Tag: {{tag.tag_name}}</p>
    <p>Adult Rating: {{tag.adult_rating}}</p>
    <div>
        <form action="/tag/{{tag.id}}/update">  
            <button type="submit">Edit</button>
        </form> 
    </div>
    <div>
        <form action="/tag/{{tag.id}}/delete" method='post'>
            <button type="submit">Delete</button>
        </form>
    </div>
    <hr>
    {% endfor %}
    {% include 'transactions/add_transaction_footer.html' %}
{% endblock %}