#main-header, #budget, .form-content, #homepage, footer{
    text-align: center;
}

#main-nav > ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
}

ul{
    padding: 0;
}

.transaction-sidebar > ul{
    margin-right: 5%;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color:white
}

.transaction-sidebar{
    display:flex;
}

#transaction-tables > h2{
    text-align: center;
}

th, td {
    text-align: center;
    border: solid white;
}

table{
    border-collapse: collapse;
}

#transaction-footer > ul{
    display: flex;
    justify-content: center;
}

.form-div{
    text-align: center;
    margin: auto;
}

.form-content{
    margin: auto;
}

#transaction-tables{
    text-align: center;
    margin: auto;
}

.container {
    display: flex;
}
.box {
    flex: 1;
    display: flex;
    justify-content: center;

}
  
.box:first-child > span { 
    margin-right: auto; 
}
  
.box:last-child  > span { 
    margin-left: auto;  
}
  

.box {
    align-items: flex-start;
}
p {
    text-align: center;
    margin: 5px 0 0 0;
}

#left{
    justify-content: left;
}

.body-of-layout{
    text-align: center;
}


footer{
    margin-top: 2%;
}

nav{
    border:solid black;
    padding-left: 0.1%;
    padding-right: 0.1%;
    background-color: #31393d;
}

nav > ul{
    margin:0;
}

body{
    border-style: none;
    margin: 0;
}

#left > ul {
    margin-top: 0;
}

#left > ul > li {
    border: solid black;
    text-align: center;
    border-top: none;
}

#homepage-image{
    margin-top: 3%;
}

#my-details-image, #tags-image{
    width:600px;
    margin-bottom: 5%;
}

#merchants-image{
    margin-bottom: 3%;
}

#difficult-table{
    margin: auto
}

#debt-image, #direct-debit-image,  #my-transactions-image, #budget-image, #overall-impact-image{
    width:750px;
    margin-top: 5%;
}

#my-support-image{
    width:600px;
}

body{
    background-color: #71838c;
}

#main-header{
    background-color:  #000000;
    color: white;
    margin: 0;
    padding: 1%;
}

table{
    background-color: black;
    color: white;
}

button{
    background-color: #71838c;
    border-radius: 25px;
    color: white;
}

button:hover{
    background-color: #a5bfcc;
    cursor: pointer;
}

nav > ul> li:hover{
    background-color: #70848d;
}

.box > ul> li:hover{
    background-color: #3c464b;
}

#budget{
    border: solid white;
    margin: 0;
    margin-top: 3%;
    padding: 1%;
    background-color: black;
    color: white;
}

input, select {
    width: 30%;
    height: 1%;
    font-size: 15px;
    border-radius: 25px;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
}

label {
    font-size: 20px;
}

#checkbox{
    width: 10px;
    height: 10px;
}

#difficult-form-input{
    margin-top: 1%;
    margin-bottom: 1%;
}

#difficult-form-input-2{
    width: 30%;
    height: 1%;
}

#difficult-form-input-accounts{
    margin: 5%;
}

.difficult-form-inputs{
    width: 70%;
    height: 1%;
}