#main-header, #budget, .form-content{
    text-align: center;
}

#main-nav > ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
}

ul{
    padding: 0;
}

.transaction-sidebar > ul{
    margin-right: 5%;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.transaction-sidebar{
    display:flex;
}

#transaction-tables > h2{
    text-align: center;
}

th, td {
    text-align: center;
    border: solid black;
}

/* table{
    margin-left:auto;
    margin-right:auto;
    border-collapse: collapse;
    margin-bottom: 5%;
} */

/* #transaction-footer{
    text-align: center;
} */

#transaction-footer > ul{
    display: flex;
    justify-content: center;
}

.form-div{
    text-align: center;
    margin: auto;
}

.form-content{
    margin: auto;
}

#transaction-tables{
    text-align: center;
    margin: auto;
}

.container {
    display: flex;
}
.box {
    flex: 1;
    display: flex;
    justify-content: center;
}
  
.box:first-child > span { margin-right: auto; }
  
.box:last-child  > span { margin-left: auto;  }
  
/* non-essential */
.box {
    align-items: center;
}
p {
    text-align: center;
    margin: 5px 0 0 0;
}

#left{
    justify-content: left;
}

.body-of-layout{
    text-align: center;
}