<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>My Spending App</title>
</head>
<body>
    <h1>My Spending App, also in header</h1>
    <nav>
        <ul>
            <li><h5><a href="/">Home</a></h5></li>
            <li><h5><a href="/transactions">View My Transactions</a></h5></li>
            <li><h5><a href="/account_details">View My Details</a></h5></li>
            <li><h5><a href="/support">Help and Support</a></h5></li>
            <li><h5><a href="/merchants">View my merchants</a></h5></li>
            <li><h5><a href="/view_tags">View my tags</a></h5></li>
        </ul>
    </nav>
    {% block content %}

    {% endblock %}    
        
</body>
</html>