{% extends "base.html" %}

{% block content %}
<div class='container'>
    <div class='box' id="left">
        {% include 'navs_and_footers/transactions_nav.html' %}
    </div>
    <div class= 'box'>
        <div class='body-of-layout'>
            <h2>Add Direct Debit</h2>
            <img src="{{ url_for('static', filename='direct_debit_image.webp') }}" alt="direct-debit-image" id='direct-debit-image'>
            <form action="/add_direct_debit" method="post">
                <div>
                    <label for="value">Value</label><br>
                    <input type="number" name="value" id="value" placeholder="Write value here" required autofocus><br>
                    <label for="description">Description</label><br>
                    <input type="text" name="description" id="direct_debit_description" placeholder="Direct Debit description" required><br>
                    <label for="date">Date</label><br>
                    <input type="date" name="date" id="direct_debit_date" required><br>
                    <label for="merchant">Merchant</label><br>
                    <select name="merchant" id="merchant" required>
                        <option value="" selected disabled>Pick a merchant</option>
                        {% for merchant in merchants %}
                        <option value="{{merchant.merchant_name}}">{{merchant.merchant_name}}</option>
                        {% endfor %}
                    </select><br>
                    <label for="priority-rating">Priority rating</label><br>
                    <select name="priority_rating" id="priority_rating" required>
                        <option value="" selected disabled>Pick a priority rating</option>
                        {% for direct_debit_priority in direct_debit_priority_list %}
                        <option value="{{direct_debit_priority}}">{{direct_debit_priority}}</option>
                        {% endfor %}
                    </select><br>
                    <label for="reoccurence-frequency-amount">How Often</label><br>
                    <input type="number" name="reoccurence_frequency_amount" id="direct_debit_reoccurence_frequency_amount" placeholder="How Often" required><br>
                    <label for="reoccurence_frequency_type">Time Scale</label><br>
                    <select name="reoccurence_frequency_type" id="reoccurence_frequency_type" required>
                        <option value="" selected disabled>Pick a time scale</option>
                        {% for direct_debit_time_scale in direct_debit_time_scales %}
                        <option value="{{direct_debit_time_scale}}">{{direct_debit_time_scale}}</option>
                        {% endfor %}
                    </select><br>
                    <label for="tag">Tag</label><br>
                    <select name="tag" id="tag" required>
                        <option value="" selected disabled>Pick a tag</option>
                        {% for tag in tags %}
                        <option value="{{tag.tag_name}}"">{{tag.tag_name}}</option>
                        {% endfor %}
                    </select><br>
                    <button class="button" type="submit">Add Direct Debit</button>    
                </div>
            </form>
        </div>
    </div>
    <div class='box'>

    </div>
</div>
{% endblock %}

