{% extends "base.html" %}

{% block content %}
<div class='container'>
    <div class='box' id="left">
        {% include 'navs_and_footers/transactions_nav.html' %}
    </div>
    <div class= 'box'>
        <div class='body-of-layout'>
            <h2>Add Favourite Merchant</h2>
            <img src="{{ url_for('static', filename='my_merchants_image.svg') }}" alt="merchants-image" id="merchants-image">
            <form action="/add_favourite_merchant" method="post" autocomplete="off">
                <div>
                    <label for="merchant-name">Merchant Name</label><br>
                    <input type="text" name="merchant_name" id="merchant-name" placeholder="Merchant Name" required autofocus><br>
                    <label for="merchant-website">Merchant Website</label><br>
                    <input type="text" name="merchant_website" id="merchant-website" placeholder="Merchant Website"><br>
                    <button class="button" type="submit">Add Merchant</button>
                </div>
            </form>
        </div>
    </div>
    <div class='box'>

    </div>
</div>

{% endblock %}