{% extends "base.html" %}

{% block content %}
{% include 'transactions/transactions_nav.html' %}
<h1>Add Merchant</h1>
<p>Add Merchant content goes here</p>
<form action="/add_favourite_merchant" method="post">
    <div>
        <label for="merchant-name">Merchant Name</label>
        <input type="text" name="merchant_name" id="merchant-name" placeholder="Merchant Name" required autofocus>
        <label for="merchant-website">Merchant Website</label>
        <input type="text" name="merchant_website" id="merchant-website" placeholder="Merchant Website">
        <button class="button" type="submit">Add Merchant</button>
    </div>
</form>

{% endblock %}