{% extends "base.html" %}

{% block content %}
<div class='transaction-sidebar'>
    {% include 'navs_and_footers/transactions_nav.html' %}
    <div class= 'form-div'>
        <h1>Edit Merchant</h1>
        <p>Edit Merchant content goes here</p>
        <form action="/merchant/{{merchant.id}}/update" method="post">
            <div>
                <label for="merchant-name">Merchant Name</label><br>
                <input type="text" name="merchant_name" id="merchant-name" placeholder="{{merchant.merchant_name}}" required autofocus><br>
                <label for="merchant-website">Merchant Website</label><br>
                <input type="text" name="merchant_website" id="merchant-website" placeholder="{{merchant.website}}" required><br>
                <button class="button" type="submit">Update Merchant</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}