{% extends "base.html" %}

{% block content %}
<div class='container'>
    <div class='box' id="left">
        {% include 'navs_and_footers/transactions_nav.html' %}
    </div>
    <div class= 'box'>
        <div class='body-of-layout'>
            <h2>Edit Merchant</h2>
            <img src="{{ url_for('static', filename='my_merchants_image.svg') }}" alt="merchants-image" id="merchants-image">
            <form action="/merchant/{{merchant.id}}/update" method="post" autocomplete="off">
                <div>
                    <label for="merchant-name">Merchant Name</label><br>
                    <input type="text" name="merchant_name" id="merchant-name" placeholder="{{merchant.merchant_name}}" required autofocus><br>
                    <label for="merchant-website">Merchant Website</label><br>
                    <input type="text" name="merchant_website" id="merchant-website" placeholder="{{merchant.website}}" required><br>
                    <button class="button" type="submit">Update Merchant</button>
                </div>
            </form>
        </div>
    </div>
    <div class= 'box'>

    </div>
</div>

{% endblock %}