{% extends "base.html" %}

{% block content %}

<h1>Merchants</h1>
<hr>
{% for merchant in merchants %}
<div>
    <p>Merchant name: {{merchant.merchant_name}}</p>
    <p>Merchant website: {{merchant.website}} {{merchant.icon}}</p>
    <p>Merchant id: {{merchant.id}}</p>
    <div>
        <form action="/merchant/{{merchant.id}}/update">  
            <button type="submit">Edit</button>
        </form> 
    </div>
    <div>
        <form action="/merchant/{{merchant.id}}/delete" method='post'>
            <button type="submit">Delete</button>
        </form>
    </div>
    <hr>
</div>

{% endfor %}
<p><a href="/add_favourite_merchant">Add Merchant</a></p>

{% endblock %}