{% extends "base.html" %}

{% block content %}
    {% include 'transactions/transactions_nav.html' %}
    {% include 'transactions/add_transaction_nav.html' %}
    <p>Add Transaction Content goes here</p>
    <form action="/transaction_edit/transaction/{{transaction.id}}/edit" method="post">
        <div>
            <label for="value">Value</label>
            <input type="number" name="value" id="value" placeholder="Write value here" required autofocus>
            <label for="description">Description</label>
            <input type="text" name="description" id="transaction_description" placeholder="Transaction description" required>
            <label for="date">Date</label>
            <input type="date" name="date" id="transaction_date" required>
            <label for="merchant">Merchant</label>
            <select name="merchant" id="merchant" required>
                <option value="" selected disabled>Pick a tag</option>
                {% for merchant in merchants %}
                <option value="{{merchant.merchant_name}}">{{merchant.merchant_name}}</option>
                {% endfor %}
            </select>
            <label for="priority-rating">Priority rating</label>
            <select name="priority_rating" id="priority-rating" required>
                <option value="" selected disabled>Pick a priority rating</option>
                {% for transaction_priority in transaction_priority_list %}
                <option value={{transaction_priority}}>{{transaction_priority}}</option>
                {% endfor %}
            </select>
            <label for="tag">Tag</label>
            <select name="tag" id="tag" required>
                <option value="" selected disabled>Pick a tag</option>
                {% for tag in tags %}
                <option value={{tag.tag_name}}>{{tag.tag_name}}</option>
                {% endfor %}
            </select>
            <button class="button" type="submit">Add Transaction</button>
    
        </div>
    </form>
    {% include 'transactions/add_transaction_footer.html' %}
{% endblock %}

