{% extends "base.html" %}

{% block content %}
<div class='container'>
    <div class='box' id="left">
        {% include 'navs_and_footers/transactions_nav.html' %}
    </div>
    <div class = 'box'>
        <div class='body-of-layout'>
            <div id='budget'>
                <h2>Set Budget </h2>
            </div>
            <img src="{{ url_for('static', filename='my_budget_image.png') }}" alt="budget-image" id="budget-image">
            <form action="/set_budget" method="post">
                <div>
                    <label for="budget-amount">Budget Amount</label><br>
                    <input type="number" name="budget" id="budget" placeholder="enter budget" required autofocus><br>
                    <button class="button" type="submit">Confirm Budget</button>
            
                </div>
            </form>
        </div>
    </div>
    <div class='box'>

    </div>
</div>
{% endblock %}